body {
    width: 100%;
    /* background-color: rgb(247, 233, 233); */
    margin-top: 0px;
padding-left: 10px;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(226, 212, 207);
    background-color: rgb(133, 81, 51);
}

.first-Paragraph {
    font-weight: bolder;
    font-size: larger;
    color: rgb(211, 105, 30);
    padding-left: 20px;
    font-family: cursive;
    text-align: center;
}

span {
    text-align: left;
}

.legend {
    font-weight: bolder;
    font-size: larg;
    color: rgb(255, 245, 239);
     margin: 50px;
     background-color: rgb(211, 105, 30);
     padding :10px

}


fieldset {
    margin-top: 10px;
    width: 50%;
    background-color: rgb(252, 234, 228);
    align-content: center;
    
}

ul {
    list-style-type: circle;
    padding-left: 60px;
    line-height: 150%;
    color: rgb(145, 91, 53);
    font-size: 20px;

}
td{
    padding: 15px;
    width: 50%;

}
 table.info > tr{
    text-align: left;
    height: 40px;
}
tr,input{
    height: 30px;
}

.labels{
 color:rgb(211, 105, 30);
   font-size: larger;

}
.bottoms{
    background-color:rgb(211, 105, 30);
    color: rgb(255, 245, 239);
    font-size: large;
    padding: 10px;
    width: 150px;
    border-radius: 10px 20px 10px 20px;
     margin: 15px;
     user-select: none;
}

button:hover{
    border: 2px solid orange;
    border-bottom-right-radius: 5px;
}
button:active{
border-top: 5px solid orange;
border-left: 5px solid orange;

}